{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Forum</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='/static/js/main.js'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    </head>

    <body>
        <header>
            <h1><a href='/'>Forum</a></h1>
        </header>
        <nav>
            <a href='/'>Home page</a>
        </nav>

        <main>
            {{template "main" .}}
        </main>
        <!-- Executing the footer template -->
        {{template "footer" .}}
    </body>
</html>
{{end}}