<!doctype html>

{{define "base"}}

<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Forum</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='/static/js/main.js'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1><a href='/'>Forum</a></h1>
        </header>
        <nav>
            <a href='/'>Nav bar ...</a>
            <a class="btn btn-primary" href="/authentication" role="button">Login</a>
        </nav>

        <main>
            {{template "main" .}}
        </main>
        <!-- Вызываем шаблон подвала -->
        {{template "footer" .}}
    </body>
</html>
{{end}}