<!doctype html>

{{template "base" .}}

{{define "title"}}Home page{{end}}

{{define "main"}}

<div class="container">
  <div class="row">
    <div class="col-12">Something here ... </div>
    <div class="col-6">
      All articals
      <p>Helloooo</p>
    </div>
    <div class="col-6">
      <h4>Loging for create artical, read full artical or comment!</h4>
      <p></p>

      <a role="button" class="btn btn-dark" href="/my-workspace">Create artical</a>
        <p></p>
    </div>
  </div>
</div>
</div>





<p></p>


{{end}}