<!doctype html>

{{template "base" .}}
 
{{define "title"}}Домашняя страницы{{end}}
 
{{define "main"}}
<h2>Forum in processing</h2>
<p>Log in to read the artical</p>
            
<a class="btn btn-primary" href="/authentication" role="button">Login</a>
<p>Пока здесь ничего нет!</p>
{{end}}