{{template "base" .}}
{{define "title"}}Post #{{.SinglePost.ID}}{{end}}
{{define "main"}}
    {{with .SinglePost}}
    <div class='post'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div>{{range .Category_name}} {{.}} {{end}}</div>
        <div class='metadata'>
            <time>Posted at: {{.Created_at}}</time>
        </div>
    </div>
    {{end}}
    {{range.DataComment}}
        <div class='comments'>
            <span>#{{.Username}}
            {{.Comment}}
            {{.Created_at}}
        </div>
    {{end}}
    <div>
    {{ with .SinglePost}}
    <form method="POST" action="/post?id={{.ID}}">
    {{ end}}
    <input type="text" name="comment">
    <input type="submit">
    </form>
    </div>
{{end}}