<!DOCTYPE html>

{{template "base" .}}

{{define "title"}}Authentication page{{ end }}

{{define "main"}}
<div class="container">
  <br>
  <div class="col-6">
    <h4 class="pb-2 border-bottom">Create post</h4>
    <br>
    <form class="needs-validation" method="POST">
      <div class="mb-3">
        <input type="text" class="form-control has-validation" id="title" name="title" placeholder="Create title"
          required />
      </div>
      <div>
        {{ range.DataCategories }}
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="category_type" type="checkbox" id="category" value="{{.ID}}" />
          <label class="form-check-label" for="category">{{.Name}}</label>
        </div>
        {{ end }}
      </div>
      <br>
      <div class="mb-3">
        <textarea class="form-control" id="content" name="content" placeholder="Add content" rows="6" required></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-dark" type="submit">Create post</button>
      </div>
    </form>
    {{ with.Data.PostWasCreated }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
<br>

  <div class="row">
    <div class="col-6">
      <h4 class="pb-2 border-bottom text-secondary">My posts</h4>
      <div class="row g-4 py-3 row-cols-1 row-cols-lg-1">
        {{ range.DataPost }}
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2">{{.Title}}</h3>
            <p class="mb-2 text-in-box"> {{.Content}}</p>
          <a href="/post?id={{.ID}}" class="text-secondary">Continue reading</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>


    <div class="col-6">
      <h4 class="pb-2 border-bottom text-secondary">Favorite posts</h4>
      <div class="row g-4 py-3 row-cols-1 row-cols-lg-1">
        {{ range.DataPostAdditional }}
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2">{{.Title}}</h3>
            <p class="mb-2 text-in-box"> {{.Content}}</p>
            <a href="/post?id={{.ID}}" class="text-secondary">Continue reading</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>



  </div>

  {{ end }}
</div>